@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #fbbf24;
  --color-background: #f9fafb;
  --color-surface: #111827;
  --color-text-primary: #111827;
  --color-text-secondary: #374151;
  --color-border-primary: #e5e7eb;

  --color-dark-primary: #60a5fa;
  --color-dark-secondary: #fbbf24;
  --color-dark-background: #111827;
  --color-dark-surface: #f9fafb;
  --color-dark-text-primary: #f9fafb;
  --color-dark-text-secondary: #d1d5db;
  --color-dark-border: #374151;
  --shadow-default: 2px 10px 12px rgba(0, 0, 0, 0.3);
}
